@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Nunito+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
}

.navBar {
  padding: 0.5rem 3rem;
}

a.--button {
  font-weight: 600;
  color: #04d361;

  transition: all ease 0.3s;
}

a.--button:hover {
  color: #01b653;
}

a.login--button {
  color: white;
  background-color: #04d361;
  padding: 0.3rem 1.3rem;
  border-radius: 50px;

  transition: all ease 0.3s;
}

a.login--button:hover {
  background-color: #01b653;
}

.icon--logo {
    cursor: pointer;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}