@media only screen and (max-width: 699px) {
  * {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .totalPageNews {
    height: calc(100vh - 61.63px);
    padding: 1rem;
  }

  .contentNewsPageEvent {
    margin-top: 62px;
    height: 100%;
  }

  .Modal {
    position: absolute;
    top: 100px;
    left: 10%;
    right: 10%;
    bottom: 100px;
    background-color: white;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
  }
}
