@media only screen and (max-width: 699px) {
  .headerHomePage {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    background-color: red;
    padding: 0 3rem;
  }

  .header-homePage {
    height: calc(100vh - 61.63px);
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    justify-content: center;

    /* background-color: red; */
    margin-top: auto;
    margin-bottom: auto;
  }

  .home--title {
    font-size: 3rem;
  }

  .home--subtitle {
    text-align: center;
    font-size: 1rem;
  }

  .projectInformation--index {
    /* margin-top: 3rem; */
    height: calc(100vh - 61.63px);
    display: flex;
  }

  .informationLeftSide--index {
    width: 50%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;
  }

  .informationRigthSide--index {
    width: 50%;
    height: 100%;

    padding: 8rem;
  }

  .imageSvg {
    display: relative;
    width: 800px;
  }

  .my-img {
    align-items: center;
    height: 10rem;
  }

  .my-img-two {
    align-items: center;
    height: 8rem;
  }

  .svgBlobMiniature {
    width: 250px;
    position: absolute;
    bottom: 0rem;
    right: 4rem;
  }

  .my-img-blobMiniature {
    align-items: center;
    height: 8rem;
  }

  .informationLeftSide-two--index {
    width: 50%;
    height: 100%;

    padding: 8rem;
  }

  .informationRigthSide-two--index {
    width: 50%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;
  }

  .svgBlobMiniature-two {
    width: 300px;
    position: absolute;
    bottom: 0rem;
    left: 5rem;
  }

  .svgBlobMiniature--two {
    width: 250px;
    position: absolute;
    top: 0rem;
    right: 4rem;
  }
}

@media only screen and (min-width: 700px) {
  .headerHomePage {
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
  }

  .header-homePage {
    height: calc(100vh - 61.63px);
    width: 100%;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

    justify-content: center;

    /* background-color: red; */
    margin-top: auto;
    margin-bottom: auto;
  }

  .home--title {
    font-size: 3rem;
  }

  .home--subtitle {
    text-align: center;
    font-size: 1rem;
  }

  .projectInformation--index {
    /* margin-top: 3rem; */
    height: calc(100vh - 61.63px);
    display: flex;
  }

  .informationLeftSide--index {
    width: 50%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;
  }

  .informationRigthSide--index {
    width: 50%;
    height: 100%;

    padding: 8rem;
  }

  .imageSvg {
    display: relative;
    width: 800px;
  }

  .my-img {
    align-items: center;
    height: 10rem;
  }

  .my-img-two {
    align-items: center;
    height: 8rem;
  }

  .svgBlobMiniature {
    width: 250px;
    position: absolute;
    bottom: 0rem;
    right: 4rem;
  }

  .my-img-blobMiniature {
    align-items: center;
    height: 8rem;
  }

  .informationLeftSide-two--index {
    width: 50%;
    height: 100%;

    padding: 8rem;
  }

  .informationRigthSide-two--index {
    width: 50%;
    height: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    position: relative;
  }

  .svgBlobMiniature-two {
    width: 300px;
    position: absolute;
    bottom: 0rem;
    left: 5rem;
  }

  .svgBlobMiniature--two {
    width: 250px;
    position: absolute;
    top: 0rem;
    right: 4rem;
  }
}
