.cardOfNew {
  width: 90vw;
  height: auto;
  min-height: 8rem;
  max-height: 15rem;
  margin: 0.8rem;
  padding: 0.5rem;

  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

  border-radius: 20px;
  cursor: pointer;
}

.newIntroduction {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleOfNew {
  height: auto;

  font-size: 1.5rem;
  font-weight: 500;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  margin-bottom: 0.2rem;
  border-radius: 0.5rem;

  color: #4863F7;
}
