.containerPageProfile {
  width: 100%;
  height: calc(100vh - 90px);
  max-height: 1090px;
}

.profileCard {
  width: 400px;
  height: 550px;
  box-shadow: 1px 2px 5px 2px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  padding: 20px;

  overflow: hidden;
  text-overflow: ellipsis;

  word-wrap: break-word;
}
